{cover_enabled, true}.
{erl_opts, [
  {parse_transform, lager_transform},
  debug_info
  %fail_on_warning
]}.

{deps, [
  {folsom, ".*", {git, "https://github.com/lookio/folsom.git", {branch, "sf/fixes"}}},
  {cowboy, "0.7.0", {git, "git://github.com/extend/cowboy.git", "master"}},
  {mustache, "0.1.0", {git, "git://github.com/mojombo/mustache.erl.git", "master"}},
  {lager_popcorn_backend, ".*", {git, "https://github.com/marccampbell/lager_popcorn_backend.git", "master"}}
]}.
