<!DOCTYPE html>
<html>
    <head>
        <title>Login - Popcorn Log Analysis</title>
		    <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro:400,600,700' rel='stylesheet' type='text/css'>
        <link href="/css/popcorn.css" rel="stylesheet" type="text/css">
        <link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script src="/js/login.js" type="text/javascript"></script>
    </head>
    <body>
        <div class="pri-nav-bg">
            <div class="pri-nav">
                <a href="/"><div class="sm-logo"></div></a>
			</div>
		</div>
    	<div class="container" style="margin-top: 130px;">
            <div style="clear: both">

			</div>
			<div class="main-container">	
        <form class="form-horizontal" id="login-form">
					<fieldset>
						<div id="legend">
							<legend class="">Login</legend>
						</div>
						<div class="control-group">
							<!-- Username -->
							<label class="control-label"  for="username">Username</label>
							<div class="controls">
								<input type="text" id="username" name="username" placeholder="" class="input-xlarge">
							</div>
						</div>

						<div class="control-group">
							<!-- Password-->
							<label class="control-label" for="password">Password</label>
							<div class="controls">
								<input type="password" id="password" name="password" placeholder="" class="input-xlarge">
							</div>
						</div>


						<div class="control-group">
							<!-- Button -->
							<div class="controls">
                <input type="button" class="btn btn-success" id="login-btn" value="Login"></input>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</body>
</html>
