<!DOCTYPE html>
<html>
    <head>
        <title>Logout - Popcorn Log Analysis</title>
        <link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
        <script src="/js/jquery.min.js"></script>
    </head>
    <body>
        <div class="pri-nav-bg">
            <div class="pri-nav">
                <a href="/"><div class="sm-logo"></div></a>
			</div>
		</div>
    	<div class="container" style="margin-top: 130px;">
            <div style="clear: both">

			</div>
			<div class="main-container">	
        <form class="form-horizontal" id="login-form">
					<fieldset>
						<div class="control-group">
              You are logged out!
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</body>
</html>

