<!DOCTYPE html>
<html>
    <head>
        <title>Popcorn Log Analysis</title>
        <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro:400,600,700' rel='stylesheet' type='text/css'>
        <link rel='stylesheet/less' href="/css/popcorn.less" type="text/css">
        <script src="/js/less.js" type="text/javascript"></script>
        <link href="/css/jquery-ui.css" rel="stylesheet" type="text/css">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script src="/bootstrap/js/bootstrap-dropdown.js"></script>
        <script src="/bootstrap/js/bootstrap-collapse.js"></script>
        <script src="/bootstrap/js/bootstrap-tooltip.js"></script>
        <script src="/bootstrap/js/bootstrap-popover.js"></script>
    </head>
    <body>

    <!-- Navbar
      ================================================== -->
    <div class="navbar navbar-static-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>

          <a class="brand" href="/">Popcorn</a>
          <span class="tagline">a predictive & intelligent log analysis machine</span>

          <div class="nav-collapse collapse" id="main-menu">
            <div class="auth pull-right">
                <img class="avatar" src="/images/littke.png">
                <span class="name">{{username}}</span><br/>
                <span class="links">
                    <a href="/settings">Settings</a>
                    <a href="/logout">Logout</a>
                </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row-fluid">
            <div class="span3">
                <aside>
                    <nav>
                        <ul class="nav">
                          <li class="selected">
                            <a href="#" class="nav-filter"><i class="icon-filter"></i> Filters</a>
                          </li>

                          <li class="selected">
                            <a href="#" class="nav-filter">Role</a>
                          </li>
                          <li>
                            {{#known_roles}}
                            <a href="#" class="nav-filter"><label class="checkbox"><input type="checkbox" class="filter-role" data-val="{{role}}"{{filter_state}}>{{role}}</label></a>
                            {{/known_roles}}
                          </li>

                          <li class="selected">
                            <a href="#" class="nav-filter">Node</a>
                          </li>
                          <li>
                            {{#known_nodes}}
                            <a href="#" class="nav-filter"><label class="checkbox"><input type="checkbox" class="filter-node" data-val="{{name}}"{{filter_state}}>{{name}}</label></a>
                            {{/known_nodes}}
                          </li>

                          <li class="selected">
                            <a href="#" class="nav-filter">Severity</a>
                          </li>
                          <li>
                            {{#known_severities}}
                            <a href="#" class="nav-filter"><label class="checkbox"><input type="checkbox" class="filter-severity" data-val="{{label}}"{{filter_state}}>{{label}}</label></a>
                            {{/known_severities}}
                          </li>
                        </ul>
                    </nav>
                </aside>
            </div>
            <div class="span9" id="content-wrapper">
                <div id="content">

                  <header>
                    <h1>{{current_node_name}}
                      <div style="float:right;padding-right:36px;">
                        <a class="btn btn-mini" href="#"><i class="icon-pause" data-toggle="button" id="log-pause"></i></a>
                      </div>
                    </h1>
                  </header>

                <section id="logs">
                  <div class="sub-header">
                    <h2>Raw Logs</h2>
                  </div>
                  <table id="log-messages" class="table table-striped full-section table-hover">
                    <thead>
                      <tr>
                        <th></th>
                        <th>Time</th>
                        <th>Severity</th>
                        <th>Message</th>
                      </tr>
                    </thead>
                    <tbody>
                      {{#log_messages}}
                        <tr>
                          <td style="padding-right:12px;">
                            <a href="#"
                               rel="popover"
                               data-placement="bottom" 
                               data-content="{{find_more_html}}" 
                               data-original-title="Find Similar<div style='float:right;'><button class='close close-popover'>&times;</button></div>" 
                               class="btn btn-mini show-more">...</a>
                          </td>
                          <td>{{time}}</td>
                          <td class="sev {{message_severity}}">{{message_severity}}</td>
                          <td>{{message}}</td>
                        </tr>
                      {{/log_messages}}
                    </tbody>
                  </table>
                </section>
            </div>
        </div>
    </div>
</div><!-- /container -->


    <script src="/js/node_log.js" type="text/javascript"></script>

    <script type="text/javascript">
      var source = new EventSource("{{streaming_url}}")

      source.onmessage = function(log_message) {
        showNewLogMessage(JSON.parse(log_message.data));
      }
    </script>
  </body>
</html>



